<h2><b>First name</b> : <%= @user.first_name %></h2>
<h2><b>Last name</b> : <%= @user.last_name %></h2>
<h2><b>Mobile number</b> : <%= @user.mobile_number %></h2>
<h2><b>Age</b> : <%= @user.age %></h2>
<h2><b>Batch</b> : <%= @user.batch %></h2>
<h2><b>Degree</b> : <%= @user.degree %></h2>
<h2><b>College name</b> : <%= @user.college_name %></h2>
<h2><b>Register number</b> : <%= @user.register_number %></h2>
<h2><b>Company name</b> : <%= @user.company_name %></h2>
<h2><b>Designation</b> : <%= @user.designation %></h2>
<h2><b>Location</b> : <%= @user.location %></h2>
<h2><b>Email</b> : <%= @user.email %></h2>
<% if @user.admin? %>
        <h2><%= current_user == @user ? "-" : (link_to 'Revoke', promote_show_user_path(@user.id), method: :post ) %></h2>
<% else %>
        <h2><%= link_to "#{@user.active? ? 'Deactivate' : 'Activate' }", activate_show_user_path(@user.id), method: :post %></h2>
        <h2><%= link_to 'Promote', promote_show_user_path(@user.id), method: :post if current_user.admin? %></h2>
<% end %>
<h2><%= link_to 'Delete', user_path(@user.id), method: :delete, data: { confirm: 'Are you sure?' } %></h2>
<h2><%= link_to 'Back', users_path %>